@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
}
.header {
    height: 8vh;
    background-color: #edecec;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
}
.favicon1 {
    width: 1.5vw;
    margin: -0.3vw 0.3vw 0 0;
}
.favicon-text {
    font-size: 1.5vw;
    line-height: 1.5;
    margin: -0.7vw 0 1vw 0;
    font-weight: 545;
}
.top-shapes {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 32vw;
    margin-top: -0.5vh;
    font-weight: bolder;
}
.image-section {
     background-image: url("images/cat3.jpg");
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     height: 45vh; 
     width: 100vw;                                                                                                                                                                                                                                                                                                                                                                        ;
}
